_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
resources
public
.history
.husky

#editor files
*.sublime*
.vs
.vscode
.idea
.fleet

#npm or yarn
node_modules
yarn.lock
package*
.python*


#prettier
.prettier*